## Core function dependencies

numpy
pandas
scipy


## Tutorial and testing notebook dependencies

scikit-learn
matplotlib
tk
rcssim @ git+https://github.com/Weill-Neurohub-OPTiMaL/rcs-simulation.git@main